<h3>settings</h3>

<form id="account-form">
  <fieldset>

    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName">

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName">

    <label for="email">Email</label>
    <input type="text" id="email" name="email">

    <button type="submit" id="submit">Save changes</button>
  </fieldset>
</form>