<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xml:lang="en" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>backbone-scaffolding</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="backbone-scaffolding web app" />
  <meta name="author" content="Nil Gradisnik">

  <link rel="stylesheet" href="style.css" />

  <script type="text/javascript">
    /* 
     * UserAccount is set as a Handlebars template
     *
     * 'account' is sent in response from node.js server
     * json is a registered Handlebars helper
     */
    var UserAccount = {{{json account}}};
  </script>

  <!-- Using Require.js to kickoff the app. Main file located in app/main.js -->
  <script data-main="app/main" src="app/lib/require/require.js"></script>
</head>
<body>

  <div id="main" class="container_16"></div>

</body>
</html>
