/*
 * backbone-scaffolding css
 *
 * @author Nil Gradisnik <nil.gradisnik@gmail.com>
 */
/*
 * Stylus mixin
 * <http://visionmedia.github.com/nib/>
 */
/*
 * Third Party
 */
@import 'stylus/vendor/normalize.css';
@import 'stylus/vendor/960.css';
@import 'stylus/vendor/html5boilerplate.css';
/*
 * App layout
 */
#main > .header {
  background-color: #eee;
}
#main > .header > span {
  font-weight: bold;
}
#main > .header > .navigation {
  float: right;
}
h2 {
  color: #4d926f;
}
#main > .footer {
  position: fixed;
  bottom: 0;
}
/*
 * Pages
 */
#account-form fieldset {
  width: 400px;
}
#account-form label {
  float: left;
  width: 120px;
}
#account-form button {
  margin-top: 20px;
}
