<h2>{{$ "header.text"}}</h2>{{$ "header.user"}} <span name="firstName"></span> <span name="lastName"></span> (<span name="email"></span>)
<div class="navigation">
  <a href="#/">main<a/>
  <a href="#/settings">{{$ "header.navigation.settings"}}</a>
</div>